---
const titleText = '円町の日常と、人と、滞在をつなぐ。';

const segments = [
  {
    id: 'en',
    delay: 0,
    d: 'M148.08,19.24c-.98,1.3-3.26,2.77-6.52,3.26v106.98c0,12.88-3.42,20.22-27.56,22.18-.65-5.71-1.79-10.11-5.22-12.88s-7.99-4.89-18.27-6.36v-2.28s22.83,1.47,27.4,1.47c3.26,0,4.08-1.3,4.08-3.91v-49.25H30.66v66.87c0,2.45-7.67,7.18-15.82,7.18h-3.26V6.2l20.71,8.48h88.07l8.97-10.27,18.75,14.84ZM30.66,73.88h35.39V19.41H30.66v54.47ZM121.99,73.88V19.41h-36.69v54.47h36.69Z',
  },
  {
    id: 'machi',
    delay: 90,
    d: 'M299.42,2.94s12.07,9.95,19.24,16.63c-.49,1.79-2.28,2.61-4.57,2.61h-20.55v106.33c0,12.88-3.26,22.02-25.44,23.81-.33-6.03-1.47-10.93-4.08-13.7-2.94-2.77-6.69-5.22-15.98-6.36v-2.28s18.75,1.14,22.83,1.14c2.94,0,3.75-1.14,3.75-3.42V22.18h-27.24l-.16-.33c-.98.49-2.28.98-3.91,1.3v101.28c-.16,1.3-8.32,5.22-14.35,5.22h-2.61v-11.42h-39.47v10.93c0,2.28-6.69,6.36-14.19,6.36h-2.77V7.83l17.94,7.83h36.86l8.32-9.46,14.51,11.42h41.1l10.76-14.68ZM186.89,20.22v44.03h11.42V20.22h-11.42ZM186.89,113.83h11.42v-45.01h-11.42v45.01ZM214.12,20.22v44.03h12.23V20.22h-12.23ZM226.36,113.83v-45.01h-12.23v45.01h12.23Z',
  },
  {
    id: 'no',
    delay: 180,
    d: 'M366.83,138.36c25.5-6.05,35.07-20.06,35.07-37.49,0-18.54-11.89-30.44-28.22-30.44-1.31,0-2.72.1-4.03.3,3.02,3.12,6.65,8.06,6.65,12.8,0,5.14-1.01,11.79-3.33,17.94-4.54,12.8-15.82,31.14-28.12,31.14-8.06,0-15.52-12.4-15.52-25.5,0-9.37,4.64-21.37,14.82-29.93,8.16-7.05,18.34-10.78,30.64-10.78,23.18,0,39.61,16.13,39.61,37.09,0,19.05-13.3,35.38-47.17,36.79l-.4-1.91ZM365.12,71.64c-6.55,1.81-12.9,5.54-17.74,10.68-5.85,6.45-9.07,13.3-9.07,21.57s3.43,15.42,7.66,15.42c5.64,0,14.51-13.91,17.74-20.86,2.62-5.85,4.54-12.8,4.54-18.14,0-3.33-1.41-6.35-3.12-8.67Z',
  },
  {
    id: 'nichi',
    delay: 270,
    d: 'M563.85,21.85c-1.14,1.3-3.26,2.61-6.52,3.42v119.05c-.16,1.47-9.95,6.36-17.45,6.36h-3.26v-14.84h-64.42v8.64c0,2.61-7.99,7.5-16.8,7.5h-3.42V8.48l21.53,8.81h61.48l9.79-10.76,19.08,15.33ZM472.2,22.02v51.21h64.42V22.02h-64.42ZM536.62,131.12v-53.33h-64.42v53.33h64.42Z',
  },
  {
    id: 'jyo',
    delay: 360,
    d: 'M743.41,38c-1.3,1.3-2.94,1.79-6.2,1.96-5.87,4.24-15.82,9.95-23.32,12.88l-1.3-.98c1.3-4.24,2.61-10.76,3.59-15.82h-100.13c.98,11.58-3.42,19.73-9.3,22.83-5.54,3.26-13.05,1.63-15.17-4.73-1.79-6.03,1.96-10.6,7.18-13.05,5.87-3.1,11.74-10.93,11.25-19.73l2.28-.16c1.47,3.59,2.45,7.01,3.1,10.27h41.26V0l24.63,2.12c-.16,1.96-1.3,3.42-5.38,4.08v25.28h9.13c3.59-8.81,7.67-20.88,9.95-29.68l26.09,8.64c-.82,1.79-2.77,3.1-6.36,2.77-6.2,5.38-15.82,12.56-24.95,18.27h25.44l10.27-10.44,17.94,16.96ZM710.95,86.92l18.75,13.86c-.98,1.3-3.1,2.77-6.52,3.42v21.53c0,11.74-2.77,18.75-23,20.55-.33-5.54-.82-9.79-2.77-12.56-1.79-2.45-4.73-4.57-11.25-5.71v-2.12s11.74.82,15.17.82c2.28,0,2.94-.98,2.94-2.94v-22.83h-29.03v45.5c0,1.3-5.71,6.36-15.33,6.36h-3.26v-51.86h-27.72v39.79c0,1.63-8.32,5.87-15.98,5.87h-2.61v-58.22l20.06,7.99h26.26v-16.63h-14.68v3.26c0,1.63-8.32,5.71-15.98,5.71h-2.45v-45.99l19.41,7.67h46.64l8.48-9.13,17.94,13.21c-.98,1.14-3.1,2.61-5.87,3.26v23.81c-.16,1.14-9.79,4.24-15.66,4.24h-3.26v-6.03h-15.98v16.63h27.4l8.32-9.46ZM618.81,2.28c42.24,5.54,26.09,37.67,9.79,25.28-.49-8.64-5.71-18.43-11.25-24.3l1.47-.98ZM641.97,75.18h49.25v-20.22h-49.25v20.22Z',
  },
  {
    id: 'to',
    delay: 450,
    d: 'M802.85,73.25c3.53.2,6.75.4,9.27,1.71,4.03,1.92,8.06,6.55,8.06,9.88,0,2.42-1.81,3.53-6.65,5.14-7.66,2.32-19.35,7.26-27.62,12.09-8.97,5.34-16.83,12.4-16.83,19.85,0,6.05,5.85,9.17,18.14,9.17,13.91,0,21.97-3.12,24.09-3.12,5.95,0,11.29,1.41,11.29,6.25,0,2.12-2.02,4.43-4.84,5.54-4.23,1.51-14.01,2.82-25.9,2.82-17.44,0-29.93-5.85-29.93-17.94,0-11.39,10.38-21.57,18.34-27.51-2.72-1.61-4.74-3.93-6.05-6.75-2.22-4.74-3.63-14.41-4.43-20.66-.4-2.22-1.21-3.43-3.23-4.74-1.61-1.01-3.83-1.92-5.84-2.72v-1.51c2.62-1.01,5.34-1.92,8.36-1.92,6.75,0,12.9,4.74,12.9,7.96,0,2.12-.6,4.33-.6,6.95,0,3.93.5,9.37,1.92,12.7,1.01,2.52,2.42,4.33,4.43,5.64,7.05-4.33,15.12-8.77,17.54-10.28,1.21-.71,1.51-1.61,1.01-2.92-.71-1.81-2.62-3.23-4.13-4.43l.71-1.21Z',
  },
  {
    id: 'comma-1',
    delay: 520,
    d: 'M835.51,120.42c13.5,2.42,20.86,7.06,24.59,12.7,1.71,2.42,2.12,4.64,2.12,6.75,0,4.03-2.52,6.65-6.45,6.65-2.92,0-5.04-1.31-6.55-4.54-2.72-5.64-5.54-13-14.61-20.26l.91-1.31Z',
  },
  {
    id: 'hito',
    delay: 640,
    d: 'M85.13,200.75c-.33,2.45-1.79,4.08-6.03,4.57,3.42,62.79,18.75,100.79,74.53,121.34l-.33,1.96c-9.79,1.79-15.98,8.48-18.1,19.08-41.1-21.85-53.33-60.18-57.41-112.2-2.94,41.91-14.68,83.66-76,113.02l-1.79-2.28c59.69-43.54,58.06-96.22,58.22-148.08l26.91,2.61Z',
  },
  {
    id: 'to1',
    delay: 730,
    d: 'M212.43,268.94c3.53.2,6.75.4,9.27,1.71,4.03,1.92,8.06,6.55,8.06,9.88,0,2.42-1.81,3.53-6.65,5.14-7.66,2.32-19.35,7.26-27.62,12.1-8.97,5.34-16.83,12.4-16.83,19.86,0,6.05,5.85,9.17,18.14,9.17,13.91,0,21.97-3.12,24.09-3.12,5.95,0,11.29,1.41,11.29,6.25,0,2.12-2.02,4.43-4.84,5.54-4.23,1.51-14.01,2.82-25.91,2.82-17.44,0-29.94-5.85-29.94-17.94,0-11.39,10.38-21.57,18.35-27.52-2.72-1.61-4.74-3.93-6.05-6.75-2.22-4.74-3.63-14.42-4.44-20.66-.4-2.22-1.21-3.43-3.23-4.74-1.61-1.01-3.83-1.92-5.85-2.72v-1.51c2.62-1.01,5.34-1.92,8.37-1.92,6.75,0,12.9,4.74,12.9,7.96,0,2.12-.6,4.33-.6,6.96,0,3.93.5,9.37,1.92,12.7,1.01,2.52,2.42,4.33,4.44,5.64,7.06-4.33,15.12-8.77,17.54-10.28,1.21-.71,1.51-1.61,1.01-2.92-.71-1.81-2.62-3.23-4.13-4.44l.71-1.21Z',
  },
  {
    id: 'comma-2',
    delay: 800,
    d: 'M245.09,316.11c13.51,2.42,20.87,7.06,24.6,12.7,1.71,2.42,2.12,4.64,2.12,6.75,0,4.03-2.52,6.65-6.45,6.65-2.92,0-5.04-1.31-6.55-4.54-2.72-5.65-5.54-13-14.62-20.26l.91-1.31Z',
  },
  {
    id: 'tai',
    delay: 920,
    d: 'M298.71,231.9c41.26,4.89,25.93,35.72,10.27,23.97-.98-8.32-6.36-17.45-11.74-23.16l1.47-.82ZM340.79,231.08c-4.73,17.94-13.54,51.21-15.17,59.36-1.14,5.06-1.96,10.6-1.79,14.84.33,8.48,6.69,14.51,6.2,29.19-.33,8.15-5.71,13.37-13.21,13.37-3.59,0-7.34-2.28-8.64-8.32,3.1-17.12,2.45-32.45-1.3-34.9-2.12-1.47-4.73-2.12-8.15-2.45v-3.26h7.18c2.12,0,2.94,0,4.57-3.26q3.26-5.87,27.72-65.07l2.61.49ZM306.87,197.33c42.73,3.1,28.87,34.41,12.23,23.81-1.96-8.15-8.32-17.12-13.54-22.83l1.3-.98ZM436.03,252.29l15.66,15.17c-1.14,1.14-2.94,1.63-6.03,1.79-3.91,2.94-9.95,7.34-14.68,10.44l12.72,9.46c-.98,1.47-3.42,2.94-7.01,3.75v24.46c0,11.42-2.28,17.94-21.04,19.57-.33-5.22-.82-9.3-2.61-11.74s-4.4-4.4-10.44-5.38v-2.28s10.93.65,13.7.65c2.28,0,2.94-.98,2.94-2.77v-25.93h-18.75v54.8c-.16.82-5.38,4.08-14.35,4.08h-3.1v-58.87h-16.96v42.4c0,1.14-5.22,4.89-13.7,4.89h-3.1v-55.61c-7.67,10.11-24.79,1.79-14.19-10.93,6.2-2.45,10.93-8.64,11.91-19.57h2.28c1.3,3.91,2.28,7.5,2.77,10.6h75.35l8.64-8.97ZM440.11,209.07s8.48,8.32,12.88,13.86c-.33,1.79-1.96,2.61-4.08,2.61h-18.27v25.12c0,1.3-7.5,4.24-13.86,4.24h-3.1v-8.81h-44.69v6.03c0,1.3-7.5,4.24-13.7,4.24h-2.94v-30.82h-15.33l-1.3-4.73h16.63v-22.18l21.53,1.96c-.33,1.96-1.3,3.26-4.89,3.91v16.31h13.86v-24.79l21.04,1.96c-.16,1.79-1.3,3.26-4.73,3.91v18.92h14.51v-22.18l22.02,1.96c-.16,1.96-1.47,3.26-5.06,3.91v16.31h2.45l7.01-11.74ZM383.03,284.9v-18.92h-30.33c.33,5.22-.33,9.3-1.79,12.23l17.29,6.69h14.84ZM369,241.36h13.86v-15.82h-13.86v15.82ZM413.69,225.54h-14.51v15.82h14.51v-15.82ZM427.06,276.75l1.47-10.76h-28.05v18.92h16.96l7.99-9.3,1.63,1.14Z',
  },
  {
    id: 'zai',
    delay: 1010,
    d: 'M509.08,263.38c-.49,1.63-2.28,2.61-5.71,3.1v76.49c-.33,1.3-5.54,5.38-16.47,5.38l-2.77.16v-65.56c-6.69,5.71-13.86,10.93-22.02,15.49l-1.63-1.47c8.97-8.15,16.96-17.78,23.65-28.21v-12.07l6.2,1.63c4.57-7.99,8.48-16.47,11.74-24.79h-37.02l-1.3-4.57h40.12c4.24-11.58,7.5-23.16,9.62-33.76l26.58,6.85c-.65,1.79-2.12,3.26-6.36,3.26-2.61,7.67-5.87,15.66-9.62,23.65h56.92l11.42-14.51s12.72,9.95,20.55,16.63c-.49,1.63-2.12,2.45-4.57,2.45h-86.6c-4.89,9.62-10.93,19.24-17.94,28.38l5.22,1.47ZM595.19,324.86s12.23,9.3,19.73,15.82c-.33,1.79-2.12,2.61-4.57,2.61h-100.62l-1.3-4.57h38.49v-54.14h-31.64l-1.3-4.57h32.94v-38.33l24.46,2.28c-.16,2.28-1.3,3.59-5.22,4.24v31.8h11.74l10.11-12.72s11.42,8.48,18.43,14.68c-.49,1.79-2.28,2.61-4.57,2.61h-35.72v54.14h18.27l10.76-13.86Z',
  },
  {
    id: 'wo',
    delay: 1100,
    d: 'M691.7,276.7c5.04.2,7.56.81,10.08,2.22,3.53,2.02,7.86,6.96,7.86,10.89,0,3.02-2.92,2.92-7.96,4.33-6.85,1.81-16.93,5.24-25.3,8.77.5,5.54.6,11.29.6,14.92,0,3.43-1.81,6.05-5.34,6.05-2.92,0-5.65-1.61-5.65-5.65,0-2.62.3-6.45.5-10.68-8.47,4.54-15.22,10.18-15.22,15.62,0,4.03,3.93,7.06,13.71,7.06,15.02,0,20.97-3.33,24.9-3.33,4.94,0,9.37,1.11,9.37,5.34,0,2.82-1.21,4.54-4.84,5.64-4.64,1.41-14.21,2.72-22.78,2.72-19.76,0-25.91-7.06-25.91-15.83s10.68-17.54,20.97-23.99c-.1-7.96-1.31-10.89-6.05-10.89-5.14,0-11.39,7.16-14.92,11.59-3.63,4.54-6.75,10.68-10.58,10.99-3.43.1-4.94-2.92-5.04-6.96-.1-3.43,3.33-5.44,7.26-9.48,5.44-5.44,9.98-11.79,13.31-17.64-2.62.3-5.34.4-7.96.4-7.96,0-9.98-5.14-12.8-13.1l1.51-.81c3.43,2.82,6.96,5.54,13.91,5.44,3.02-.1,6.45-.61,9.98-1.21,1.31-2.92,2.12-5.34,2.42-6.85.5-1.61.4-2.92-1.41-4.03-1.41-1.01-3.43-1.81-6.05-2.72l.1-1.31c2.32-1.11,5.44-2.12,7.36-2.12,4.33,0,12.4,1.41,12.4,4.94,0,1.41-.81,2.22-1.71,4.13l-2.92,5.44c3.53-1.01,6.65-2.02,8.77-2.92,3.43-1.41,4.33-2.82,5.64-2.82,3.63,0,6.75,1.11,6.75,4.64,0,1.51-.91,3.12-3.63,4.44-3.33,1.71-12.3,5.14-23.18,7.16-1.81,3.23-4.33,7.26-7.76,12-.4.71-.1,1.21.71.71,3.53-2.32,6.96-3.93,10.89-3.93,6.25,0,10.28,3.73,11.69,9.98,6.96-3.63,15.22-7.36,19.76-10.08,1.81-1.01,2.02-2.22.71-3.73-1.01-1.21-3.12-2.72-4.94-3.63l.81-1.71Z',
  },
  {
    id: 'tu',
    delay: 1190,
    d: 'M728.45,252.12c2.28,2.77,6.52,6.2,10.93,6.2,2.12,0,4.73-.49,9.95-3.1,19.41-8.32,44.03-24.14,70.78-24.14,30.01,0,48.6,20.22,48.6,41.91s-13.05,35.06-29.68,43.87c-17.61,9.46-46.48,11.42-70.45,9.62l-.49-3.75c22.67-2.61,40.28-6.2,57.08-16.31,14.19-7.99,23.48-19.73,23.48-36.04s-10.44-30.33-29.03-30.33c-21.53,0-45.34,21.04-54.63,28.38-8.81,7.01-12.39,11.58-18.43,11.58-6.69,0-16.47-7.5-19.08-14.51-1.63-3.91-1.3-8.64-1.3-12.23l2.28-1.14Z',
  },
  {
    id: 'na',
    delay: 1280,
    d: 'M929.04,205.32c3.1-1.63,8.81-3.26,13.21-3.26,6.36,0,11.91,1.79,15.33,4.24,3.26,2.61,1.63,7.67-3.1,21.69,11.91-3.91,15.66-7.01,17.78-7.01,3.75,0,8.48,2.61,8.48,7.83,0,3.59-2.28,5.71-5.06,7.5-5.71,3.59-15.82,6.85-26.91,9.13-5.38,16.63-15.17,44.36-27.4,63.93-4.08,6.36-7.34,10.6-11.91,10.6-5.54,0-8.64-5.38-8.64-10.93,0-3.91.98-7.01,3.91-10.6,10.76-13.05,21.85-29.52,29.03-50.56-4.08.49-7.83.65-11.42.65-13.54,0-19.73-4.08-24.3-22.18l2.45-1.3c6.85,5.22,12.07,9.13,22.51,9.13,4.73,0,10.44-.82,15.33-1.79,1.14-5.06,1.79-9.62,1.96-13.54,0-3.42-1.3-5.38-4.08-7.5-2.61-1.96-5.54-3.1-7.18-3.75v-2.28ZM989.38,233.69c9.3-2.94,18.75-2.61,25.44-.65,11.09,3.42,17.94,10.76,17.94,19.9,0,5.22-1.79,8.97-7.01,8.97-6.36,0-10.76-4.89-19.73-4.73-4.73.16-9.79,1.96-12.23,5.38-2.45,3.59-2.12,9.13-1.14,15.49.65,4.73,2.28,12.72,3.75,21.53,8.48,2.12,15.17,5.22,20.55,8.32,10.27,5.38,17.45,12.23,17.45,19.41,0,6.36-3.75,9.13-7.5,9.13-4.89,0-7.18-4.57-13.54-10.11-4.08-3.75-8.97-7.5-15-10.6.16,1.96.16,3.91.16,5.87,0,14.51-11.09,22.18-29.84,22.18s-28.7-9.13-28.7-21.2c0-13.21,13.05-25.28,36.86-25.28,1.63,0,3.26,0,4.89.16-.33-5.22-.49-10.27-.49-14.68,0-10.27,1.79-17.45,6.69-23.16,6.2-7.5,14.51-10.6,19.57-13.21.82-1.47.16-2.94-1.47-4.24-3.59-3.1-9.46-4.89-16.47-5.54l-.16-2.94ZM982.2,309.86c-4.57-1.14-9.62-1.63-15-1.63-13.21,0-19.41,6.03-19.41,11.25s4.4,9.3,15.82,9.3c12.07,0,18.59-5.22,18.59-14.51v-4.4Z',
  },
  {
    id: 'gu',
    delay: 1370,
    d: 'M1105.33,203.2l1.63-2.45c5.06.49,9.62,1.14,13.7,3.1,9.3,4.73,16.96,14.19,16.96,19.9,0,5.22-5.06,6.52-12.07,11.25-11.91,8.32-31.31,23.81-38.16,30.66-4.24,4.24-5.87,6.36-5.87,8.48,0,2.28,2.45,4.57,5.87,6.85,15.66,11.09,33.92,21.69,45.01,35.72,5.71,7.18,7.67,12.56,7.67,18.1,0,5.22-2.77,11.25-11.25,11.25-4.4,0-7.67-2.77-9.62-5.87-1.96-3.59-3.75-7.34-8.15-14.35-6.36-10.27-19.08-22.83-38.16-39.14-4.08-3.26-5.87-7.34-5.87-10.44,0-3.42,1.3-6.36,4.73-10.44,8.64-10.6,32.13-35.06,38.49-43.38,2.45-3.1,3.42-4.89,3.42-7.18,0-3.59-3.59-7.83-8.32-12.07ZM1148.54,258.16c-3.26-4.57-7.67-11.25-14.84-17.94l1.79-2.12c9.13,2.61,16.8,6.2,22.02,10.93,3.42,3.26,4.89,6.2,4.89,9.3,0,3.59-2.28,6.36-6.2,6.36-2.77,0-4.89-2.61-7.67-6.52ZM1164.04,243.64c-3.1-3.91-6.85-9.3-15.17-15.98l1.63-2.28c9.62,2.28,16.8,5.22,21.53,8.64,4.08,3.1,5.87,6.52,5.87,10.44,0,3.59-2.28,5.87-5.71,5.87s-4.89-2.45-8.15-6.69Z',
  },
  {
    id: 'maru',
    delay: 1460,
    d: 'M1185.91,328.21c0-7.86,6.45-14.21,14.31-14.21s14.21,6.35,14.21,14.21-6.35,14.31-14.21,14.31-14.31-6.45-14.31-14.31ZM1189.54,328.21c0,5.85,4.74,10.68,10.68,10.68s10.58-4.84,10.58-10.68-4.74-10.58-10.58-10.58-10.68,4.74-10.68,10.58Z',
  },
];
---

<h1 class="hero-wordmark mb-8 text-gray-900" aria-label={titleText}>
  <span class="sr-only">{titleText}</span>
  <svg
    class="hero-wordmark__svg"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1214.44 348.51"
    role="img"
    aria-hidden="true"
    focusable="false"
  >
    {segments.map((segment) => (
      <path
        id={segment.id}
        d={segment.d}
        class="hero-wordmark__segment"
        style={`--hero-delay:${segment.delay}ms;`}
      />
    ))}
  </svg>
</h1>

<style>
  .hero-wordmark {
    width: 100%;
  }

  .hero-wordmark__svg {
    display: block;
    width: 100%;
    max-width: 34rem;
    height: auto;
  }

  .hero-wordmark__segment {
    fill: currentColor;
    opacity: 0;
    transform: translateY(12px);
    transform-box: fill-box;
    transform-origin: center;
    animation: hero-wordmark-reveal 820ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: var(--hero-delay);
    will-change: opacity, transform;
  }

  @keyframes hero-wordmark-reveal {
    from {
      opacity: 0;
      transform: translateY(12px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (min-width: 640px) {
    .hero-wordmark__svg {
      max-width: 38rem;
    }
  }

  @media (min-width: 1024px) {
    .hero-wordmark__svg {
      max-width: 42rem;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .hero-wordmark__segment {
      animation: none;
      opacity: 1;
      transform: none;
    }
  }
</style>
